@keyframes animeBlocos{
    50%{
        opacity: 1;
        transform: translateY(-80vh) rotate(360deg);
    }
    100%{
        opacity: 0;
        transform: translateY(-80vh) rotate(360deg);
    }
}
@keyframes animePisca{
    0% 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}