:root{
    --azul0:#B8E8FF77;
    --azul1:#E6F6FF;
    --azul2:#B8E8FF;
    --azul3:#8AD9FF;
    --azul4:#00B0FF;
    --azul5:#4C4981;
    --azul6:#767D9F;

    --roxo0:#E2BAFB77;
    --roxo1:#F5E6FD;
    --roxo2:#E2BAFB;
    --roxo3:#D18EF9;
    --roxo4:#9D0BF5;
    --roxo5:#4C4981;
    --roxo6:#767D9F;
}